before_install:
  - sudo add-apt-repository ppa:purplekarrot/cmake -y
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -o Dir::Etc::sourcelist="sources.list.d/purplekarrot-cmake-precise.list" -o Dir::Etc::sourceparts="-" -o APT::Get::List-Cleanup="0" -y
  - sudo apt-get update -o Dir::Etc::sourcelist="sources.list.d/ubuntu-toolchain-r-test-precise.list" -o Dir::Etc::sourceparts="-" -o APT::Get::List-Cleanup="0" -y
  - sudo apt-get install cmake aspectc++ gcc-4.7 -y
before_script: ./travis-ci/configure.sh
script: ./travis-ci/make.sh
language: cpp
compiler:
  - g++
branches:
  only:
    - master
notifications:
  email:
    on_success: change
    on_failure: always